<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="flrigServerUrl" value="http://192.168.1.114:12345/" />
		<add key="cloudlogUrl" value="https://www.bbgest.cloud/cloudlog/index.php" />
		<add key="cloudlogApiKey" value="cl663695d21fc4c" />
		<add key="updateDelaySeconds" value="2" />
		<add key="startMinimized" value="false" />
		<add key="udpPort" value="2878" />
		<add key="udpServer" value="false" />
		<add key="rigServer" value="true" />
		<add key="idStationLocation" value="2" />
	</appSettings>
</configuration>